.formField {
  flex: 1;
  flex-shrink: 0;
}
.labelContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.input {
  border: 2px solid white;
  background: transparent;
  border-radius: 0;
  color: white;
  outline: none;
  padding: 0;
  margin: 0;
  margin-right: 8px;

  height: 20px;
  width: 20px;

  font-size: 16px;
  font-family: inherit;

  -webkit-appearance: none;
}

.input:focus {
  background: rgba(255, 255, 255, 0.1);
}

.input:checked {
  background: white;
}
