@import "../../../style/theme.scss";

$formInputHeight: 48px;

.formField {
  flex: 1;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .labelContainer {
    display: flex;
    flex-direction: column;
  }

  .label {
    margin-bottom: 4px;
  }
  
  textarea.input {
    padding-top: 8px;
    min-height: $formInputHeight * 3;
    resize: vertical;
  }

  .input {
    border: 2px solid white;
    background: transparent;
    border-radius: 0;
    color: white;
    outline: none;
    padding: 0 8px;
    
    height: $formInputHeight;
    
    font-size: 16px;
    font-family: $font;

    &:focus {
      background: rgba(255,255,255,0.1);
    }

    &:disabled {
      cursor: default;
      pointer-events: none;
      background: rgba(255,255,255,0.1);
      user-select: none;
    }
  }
}