form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -8px;
  padding: 8px 0;
}

.form--row,
.form--half,
.form--third,
.form--fourth,
.form--submit,
.form--flex {
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  padding-top: 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          -webkit-flex-grow: 1;
          flex-grow: 1;
  min-width: 140px;
}
.form--row {
  -ms-flex-preferred-size: 100%;
      -webkit-flex-basis: 100%;
          flex-basis: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;

  align-items: flex-start;
}
.form--half {
  -ms-flex-preferred-size: 50%;
      -webkit-flex-basis: 50%;
          flex-basis: 50%;
}
.form--third {
  -ms-flex-preferred-size: 33.33%;
      -webkit-flex-basis: 33.33%;
          flex-basis: 33.33%;
}
.form--flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          -webkit-flex: 1;
          flex: 1;
}
.form--fourth {
  -ms-flex-preferred-size: 25%;
      -webkit-flex-basis: 25%;
          flex-basis: 25%;
}
.form--submit {
  padding-top: 8px;
}


form label {
  position: absolute;
  top: 8px; left: 8px; right: 8px;
  height: 24px;
}

form input,
form .form--input {
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  line-height: 48px;
  position: relative;
}

form input ~ paper-ripple {
  top: 32px;
  right: 8px;
  left: 8px;
  bottom: 8px;
}

form input {
  border: 2px solid white;
  background: transparent;
  border-radius: 0;

  color: white;
  outline: none;
  padding: 0 8px;
}

form input + label::before {
  content: "";
  position: absolute;
  top: 100%; left: 0; right: 0;
  height: 48px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
form input + label::before {
  background: white;
}
form input:focus + label::before {
  opacity: 0.12;
}

form button {
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  line-height: 48px;
  position: relative;

  border: 2px solid white;
  background: transparent;
  border-radius: 0;

  color: white;    
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  outline: none;
  padding: 0 8px;
  cursor: pointer;
}
form button::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background: white;
}
form button:hover::before {
  opacity: 0.08;
}
form button:active::before {
  opacity: 0.12;
}

.form--grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -4px -8px;

  min-width: 280px;
}
.form--grid--entry {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          -webkit-flex: 1;
          flex: 1;
  height: 20px;
  white-space: nowrap;
  padding: 0 8px;
  margin: 4px 0;
-webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
min-width: 50%;

box-sizing: border-box;
}
.form--grid--entry label {
  position: relative;
  padding-left: 32px;
  top: 0; left: 0; right: 0; bottom: 0;
  cursor: pointer;
}
.form--grid--entry input {
  position: absolute;
  top: 0; left: 8px; bottom: 0;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}
.form--grid--entry label::before {
  top: 0; left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
}
.form--grid--entry input:focus + label::before {
  opacity: 0.12;
}
.form--grid--entry label:hover::before {
  opacity: 0.08;
}
.form--grid--entry label:active::before {
  opacity: 0.12;
}
.form--grid--entry input:checked + label::before {
  opacity: 1;
}

.form--grid--entry input[type="radio"] ~ paper-ripple {
  position: absolute;
  top: 0; left: 8px; bottom: 0;
  width: 20px;
  height: 20px;
}