.masthead {
  min-height: 50vh;

  width: 100%;
}

.masthead .blur--1,
.masthead .blur--2 {
  position: relative;
  overflow: hidden;
}

.masthead .blur--1 .bg,
.masthead .blur--2 .bg { 
  position: absolute;
  top: 0; right: 0; left: 0;
  height: 125vh;

  z-index: -1;

  background-size: cover;
  background-position: center top;
  background-attachment: scroll;
  
  opacity: 0.65;
}

.masthead .blur--1 {
  height: 400px;
}

.masthead .blur--2 {

}

.masthead .blur--1 .bg {
  background-image: url("/static/bg1.jpg");
}
.masthead .blur--2 .bg {
  top: -400px;
  background-image: url("/static/bg2.jpg");
}

.masthead header.logo {
  padding-top: 100px;
}
.masthead header.logo img {
  height: 100px;
  width: auto;
}

.masthead .punchline {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 50px;
}