nav.social {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 48px;

  z-index: 10;
}

.bg {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: -40px;
  background: linear-gradient(rgba(0,0,0,0.95), transparent);
  z-index: -1;
}

nav.social section {
  display: flex;

  height: 100%;

  justify-content: flex-end;
  align-items: center;
}

nav.social div {
  padding: 0;
}

nav.social a {
  color: white;
  display: block;
  width: 40px;
  height: 40px;
  margin: 4px;
  position: relative;
  border-radius: 50%;
}
nav.social a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}