.teams {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.team {
  margin: 5px;
  display: flex;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  height: 250px;

  overflow: hidden;
}

.team .bg {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.team header {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  box-sizing: border-box;

  z-index: 1;
}

.team header::before {
  content: "";
  position: absolute;
  top: -50px; right: 0; left: 0;
  bottom: -20px;
  background: linear-gradient(rgba(0,0,0,0.75), transparent);
  z-index: -2;
  opacity: 1;
}

.team {
  display: block;
  transform: translateZ(0);
  contain: strict;
}

.team .text {
  position: absolute;
  top: 100%;

  flex-grow: 0;
  flex-shrink: 0;
  opacity: 1;
  
  box-sizing: border-box;
  pointer-events: none;

  transform: translateZ(0);
  transition: transform 225ms, opacity 225ms;

  z-index: 2;
  background: rgba(0,0,0,0.75);
}
.team .text > div:first-child {
  position: absolute;
  top: 0;
  transform: translate3d(0, -100%, 0);
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
}
.team .text > div:first-child::before {
  content: "";
  position: absolute;
  top: -35px;
  bottom: 0;
  left: 0; right: 0;
  z-index: -1;

  background: linear-gradient(transparent, rgba(0,0,0,0.75));
}
.team .text > div {
  padding: 0 10px 10px 10px;
}

.team:hover .text {
  transform: translate3d(0, -100%, 0);
}