.ribbon {
  width: 100%;
  background: rgba(255,255,255,0.24);
}

.ribbon a {
  display: inline-block;
  background: #0b042c;
  color: white;
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  padding: 0 10px;

  text-decoration: none;

  text-transform: uppercase;
}


.ribbon a + a {
  margin-left: 10px;
}

.ribbon-button {
  position: relative;
}