.banner {
  margin-top: 32px;
  margin-bottom: 32px;

  border-radius: 4px;

  font-weight: bold;
  font-size: 24px;
  background: white;
  color: #37109F;

  box-sizing: border-box;
  padding: 16px;
}

.banner nav {
  display: flex;
  
  font-size: 18px;
  
  $spacing: 1.5em;
  margin-top: 12px;
  margin-left: -$spacing;
  a {
    padding-left: $spacing;
    color: inherit;
    &:hover {
      opacity: 0.85;
    }
    &:active {
      opacity: 0.7;
    }
  }
}