@import "./theme.scss";

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: $page-color;
  font-family: $font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
  
  background-color: $page-background;
  background-position: center;
  background-size: cover;
  background-image: url("./bg.jpg");
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
