.videoFrame {
  width: 100%;
  max-width: 1288px;
  padding-bottom: 56.25%;
  position: relative;
  margin: 16px 0;
  overflow: hidden;
  border-radius: 8px;
  background: black;
}

.videoFrame .video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.videoFrame .video.visible {
  animation: enter 250ms forwards;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
