.section {
  font-size: 16px;
}

.header {
  font-size: 28px;
  font-weight: bold;
  padding: 24px 0 5px 0;
}

.markdown {
  img {
    margin: 8px 0;
  }
  
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  a {
    color: inherit;

    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.8;
    }
  }
}