.masthead {
  max-height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: radial-gradient(
    ellipse at 50% 180%,
    hsla(241, 65%, 65%, 1) 0%,
    hsla(231, 55%, 40%, 1) 100%
  );
}

.image {
  pointer-events: none;
  user-select: none;

  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: -200px;
  z-index: -1;

  opacity: 0.6;

  background-size: cover;
  background-position: center top;
}

.punchline {
  margin: 0;
  margin-top: 1em;
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .punchline {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .punchline {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .punchline {
    font-size: 22px;
  }
}

.bottom {
  margin-top: 64px;
  position: relative;
}

.bottom .bottomFlex {
  position: absolute;
  bottom: 64%;
  left: 0;
  right: 0;
}

.bottom .bottomFlexInner {
  display: flex;
}

.bottomFlexInner > div {
  flex: 1;
  text-align: center;
}

.bottomCircle {
  display: block;
  width: 100%;
  height: 64px;
}

@media (max-width: 1500px) {
  .bottomCircle {
    height: 50px;
  }
}

@media (max-width: 1200px) {
  .bottomCircle {
    height: 40px;
  }
}

@media (max-width: 900px) {
  .bottomCircle {
    height: 30px;
  }
}
@media (max-width: 700px) {
  .bottomCircle {
    height: 24px;
  }
}
@media (max-width: 600px) {
  .bottomCircle {
    height: 20px;
  }
}
@media (max-width: 500px) {
  .bottomCircle {
    height: 17px;
  }
}

@media (max-width: 400px) {
  .bottomCircle {
    height: 14px;
  }
}

@media (max-width: 300px) {
  .bottomCircle {
    height: 10px;
  }
}
