.masthead {
  padding-top: 128px;
  padding-bottom: 16px;
}

.logo {
  display: inline-block;
  position: relative;
  .logoImage {
    height: 100px;
    user-select: none;
    pointer-events: none;
  }
  .logoText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
    font-size: 100px;
    text-align: center;

    color: transparent;
    opacity: 0.2;
  }
}

.punchline {
  margin-top: 1em;

  font-size: 32px;
  font-weight: bold;
  p {
    margin: 0;
  }
}